<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://placehold.it/350x150" alt="title">
      <div class="carousel-caption">
        <h3>Title</h3>
        <p>Add addtional details here.</p>
      </div>
    </div>

    <div class="item">
      <img src="http://placehold.it/350x150" alt="title">
      <div class="carousel-caption">
        <h3>Title</h3>
        <p>Add addtional details here.</p>
      </div>
    </div>

    <div class="item">
      <img src="http://placehold.it/350x150" alt="title">
      <div class="carousel-caption">
        <h3>Title</h3>
        <p>Add addtional details here.</p>
      </div>
    </div>

    <div class="item">
      <img src="http://placehold.it/350x150" alt="title">
      <div class="carousel-caption">
        <h3>Title</h3>
        <p>Add addtional details here.</p>
      </div>
    </div>
  </div>


  <!-- Controller buttons for Cruise Slides -->
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!-- temputure and Forcasting -->
<h1 id='temp'><%= temp %><%= description %></h1>


<!-- Amenities Tab Bar -->

<div class="container">
  <div class="row text-center">

    <div class="col-md-4" id="left">
      <h4>Ship</h4>
      <p>...</p>
    </div>

    <div class="col-md-4" id="middle">
      <h4>Middle Col</h4>
      <p>...</p>
    </div>

    <div class="col-md-4" id="right">
      <h4>Right Col</h4>
      <p>...</p>
    </div>

  </div>
</div>
