<div class="jumbotron">
  <h1>Picture Here</h1>
  <p class="lead">Add Whatever Text</p>
  <p><a class="btn btn-lg btn-success" href="#" role="button">Book Now</a></p>
</div>



<div class="row">

  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Cruise Title
      </div>
      <div class="panel-body">
        <h4>Cruise 1</h4>
        <p>Add text here.</p>
      </div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Cruise Title
      </div>
      <div class="panel-body">
        <h4>Cruise 1</h4>
        <p>Add text here.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Cruise Title
      </div>
      <div class="panel-body">
        <h4>Cruise 1</h4>
        <p>Add text here.</p>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Cruise Title
      </div>
      <div class="panel-body">
        <h4>Cruise 1</h4>
        <p>Add text here.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Cruise Title
      </div>
      <div class="panel-body">
        <h4>Cruise 1</h4>
        <p>Add text here.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Cruise Title
      </div>
      <div class="panel-body">
        <h4>Cruise 1</h4>
        <p>Add text here.</p>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Cruise Title
      </div>
      <div class="panel-body">
        <h4>Cruise 1</h4>
        <p>Add text here.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Cruise Title
      </div>
      <div class="panel-body">
        <h4>Cruise 1</h4>
        <p>Add text here.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Cruise Title
      </div>
      <div class="panel-body">
        <h4>Cruise 1</h4>
        <p>Add text here.</p>
      </div>
    </div>
  </div>

</div>


<div class="row">

  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Cruise Title
      </div>
      <div class="panel-body">
        <h4>Cruise 1</h4>
        <p>Add text here.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Cruise Title
      </div>
      <div class="panel-body">
        <h4>Cruise 1</h4>
        <p>Add text here.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Cruise Title
      </div>
      <div class="panel-body">
        <h4>Cruise 1</h4>
        <p>Add text here.</p>
      </div>
    </div>
  </div>

</div>
