/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
/*@font-face {
  font-family: "Cabin";
  src: url(Cabin-Regular.otf) format("truetype");
}*/

 #navbar {
   position: fixed;
   z-index: 10;
   border-radius: 0px;
   background-color: rgba(0, 0, 5, 0.6);
   color: white;
   width: 100%;
   font-family: Cabin, sans-serif;
 }

 .navbar-collapse {
  /*background-color: #03AEE4;*/
  font: white;
  border: none;
 }

 .navbar-inverse {
  /*background-color: #03AEE4;*/
  font: white;
 }

.row {
  background: none;
}
.emailblock {
  display: inline-block;
}

.brand {
  font-family: inherit;
}

#head {
  height: 500px;
  width: 100%;
  background: url("http://wallpapercave.com/wp/asTCgyO.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.panel {
  width: 350px;
  height: 150px;
}

 .site-content {
   flex: 1;

 }

 ul.nav {
    float: right;
  }


 ul.nav > li{
   display: flex !important;
   align-items: center;

  }

html,
body{
  min-height: 100%;
  min-width: 100%
}

 .Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}



footer.footer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

footer.navbar-inverse div {
  margin: 2em;
}


#myCarousel {
  font-size: 1.5em;
   background-color: #ccc;
   margin: 20px;
   padding: 40px;
}



.panel-primary>.panel-heading.flex-panel {
  display: flex;
  justify-content: center;
}

.package-item {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}