// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logincompany {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  text-decoration-color: black;
}

.loginform > label {
  // color: black;
  font-size: 1em;
}
