// Place all the styles related to the ships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pagecontainer {
  margin: 3em;

}

.boatpic {
  float: right;
}

.shipcontainer {
    width: 750px;
    overflow: hidden; /* will contain if #first is longer than #second */
}
.shipinfo {
    width: 250px;
    float:left; /* add this */
}
.boatpic {
    padding-top: 2em;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}
