// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#temp {
  display: flex;
  justify-content: center;
  font-size: 3em;
}

#packagebar {
  color: #05357d;
  font-size: 3em;
}

#panel1 {
  background-image: url(".images/beach.jpg");
}

/*BookNow - Amenities CSS*/
#container {
  display: table;
  }

#row  {
  display: table-row;
  }

#left, #right, #middle {
  display: table-cell;
  }

li {
  list-style: none;
}

.packages {
  width: 350px;
  height: 150px;
}

.inside {
  display: inline;
}
.inside-bl {
  position: relative;
  top: 125;
}
