// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#temp {
  display: flex;
  justify-content: center;
  padding: 9px 0 8px;
  text-shadow: none;
  color: #fff;
}
.icon-temp {
  position: relative;
  right: 8px;
  bottom: 4px;
}

.ship-coll-icons span:nth-child(1n){
  padding: 8px 0 ;
}
.package-teal {
  background-color: #d6f6f7;
}
.stripe-button-el {
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}
#packageheading {
  background-color: #0cbfc3;
  color: #20425d;
  text-align: center;
  text-shadow: 2px 1px 4px #ffffff;

}

h3 {
  display: inline-block;

}

#packagebar {
  color: #05357d;
  font-size: 3em;
}

#panel1 {
  background-image: url(".images/beach.jpg");
}

/*BookNow - Amenities CSS*/
#container {
  display: table;
  }

#row  {
  display: table-row;
  }

#left, #right, #middle {
  display: table-cell;
  }

#packagedetails {
    margin: 3em;
  }

li {
  list-style: none;
}

.packages {
  width: 350px;
  height: 150px;
}

.inside {
  display: inline;
}
.inside-bl {
  position: relative;
  top: 125;
}
