// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#temp {
  display: flex;
  justify-content: center;
}


/*BookNow - Amenities CSS*/
#container {
  display: table;
  }

#row  {
  display: table-row;
  }

#left, #right, #middle {
  display: table-cell;
  }

li {
  list-style: none;
}
